body_font = 'adobe-caslon-pro', 'averia_serif', 'freight-sans-pro', 'Lucida Grande', sans-serif
heading_font = 'effra', 'Lucida Grande', sans-serif
text_color = #16161D
light_text_color = #38374b
accent_color = #2852EB// #FF3D3C //#FF4500
accent_color_rgb = rgba(255,80,2,1)
text_shadow_color = rgba(22,22,29,.05)

del
  position: relative
  &:after
    border-bottom: 11px solid text_color
    content: ''
    display: block
    position: absolute
    pointer-events: none
    top: .4em
    width: 100%

main
  display: block

h1,
h2,
h3,
h4,
h5,
h6
  font-family: heading_font
  text-align: center
  margin: 2em auto

p,
h1, h2, h3, h4, h5, h6,
figure, figcaption
  max-width: 38rem
  padding: 0 1rem
  margin-left: auto
  margin-right: auto

a
  color accent_color
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline


img
  max-width: 100%

pre
  // border-bottom: 3px solid rgba(0,0,0,.025)
  // border-top: 3px solid rgba(0,0,0,.025)
  background-color: #fbfbfb
  color: light_text_color
  line-height: 1.3
  max-width 100%
  padding: .75em 0
  overflow: scroll
  code
    display: block
    line-height: 1.2
    margin-left: auto
    margin-right: auto
    max-width: 38rem
    padding: 0 1rem


code
  font-family: 'Anonymous Pro', Monaco, monospace
  font-size: .8em
  padding: .2em .4em

body
  color: text_color
  font-size: 16px
  line-height: 1.5
  font-family: body_font
  margin: auto auto 2em
  margin-bottom: 50px
  margin-bottom: 50vh

header
  text-align: center
  font-size: 0.75em
  font-weight: bold
  margin: 1.666em 0 3em
  text-rendering: optimizeLegibility
  font-family: heading_font
  text-transform: uppercase
  letter-spacing: 1px
  .logo
    width: 35px

footer
  color: #ddd
  font-size: 1rem
  font-family: heading_font
  text-align: center
  margin-top: 4.762em

.site-nav
  margin: 1em 0 0
  ul
    padding: 0
    margin: 0
  li
    color: light_text_color
    display: inline-block
    list-style: none
    &:after
      content: " • "
    &:last-child:after
      content: ""
  a
    &:hover,
    &:focus,
    &.is-current
      text-decoration: none
      color: light_text_color



.image
  padding: 0
  margin: 1em auto
  list-style: none
  position: relative
  img
    display: block

.image-time
  font-family: heading_font
  font-size: 1rem
  font-weight: 600
  text-transform: uppercase
  color: #FF3D3C //accent_color
  position: absolute
  bottom: 10px
  right: 15px



.post-sep
  margin: 4.762em auto
  width: 25%
  min-width: 50px
  border: 0
  border-bottom: 3px solid #ddd

.post
  h2
    margin: .75em auto
  h3
    margin: 1em auto

.post-title
  font-size: 1.7272em // 38px
  margin: 1em auto
  a
    color: light_text_color
    text-decoration: none
    &:hover, &:focus
      color: accent_color

.post-lead-caption
  color: #ddd
  font-size: .875rem
  margin-top: 4.762rem
  max-width: 27rem



.l-library
  padding: 0
  margin-left: auto
  margin-right: auto

.book
  box-shadow: 0 3px #ddd
  float: left
  margin-bottom: 2em
  position: relative
  width: 50%
  &:hover .book-title
    display: block
  a
    border-bottom: 0
    &:hover, &:focus
      background-color: text_color

.book-cover
  padding: 0
  margin: 0
  height: 0
  padding-top: 100%
  position: relative
  width: 100%
  a
    left: 0
    height: 100%
    position: absolute
    top: 0
    width: 100%
  a, img
    display: block
    margin: auto
    max-height: 100%
    max-width: 100%

.book-title
  font-size: 1.25rem
  font-style: italic
  display: none
  a
    background-color: text_color
    color: #fff
    bottom: 0
    left: 0
    padding: 0.5em
    position: absolute
    right: 0
    text-decoration: none
    top: 0
    &:hover, &:focus
      background-color: accent_color



.cf:before,
.cf:after
  content: " "
  display: table

.cf:after
  clear: both



@media only screen and (min-width: 30em)
  body
    font-size: 18px
  header
    .logo
      width: 52px
  .book
    width: 25%
  .book-title
    font-size: 18px

@media only screen and (min-width: 44em)
  body
    font-size: 21px
  header
    font-size: 16px
  code
    font-size: 16px
  .l-library
    max-width: 58rem
  .book
    width: 20%

